<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>

    <h1>About Myself</h1>

    <h2>Sports</h2>
    <!-- Italicized sports details that are specific to me - my favorite sport and team. -->
    <p>
        One of my biggest hobbies is playing sports. Without a doubt my favorite sport
        is <em>Soccer</em>. I've been playing it for more than half of my life
        and enjoy different aspects of the game such as dribbling and passing. My favorite
        team is <em>Liverpool</em>. I also like to play ping pong. My dad and I
        play it a lot, and we are very competitive. Before ping pong we played a lot of pool
        with each other. We actually got pretty good at the game and were able to make shots
        at really difficult angles. After he got introduced to ping pong he convinced me to
        start playing with him, and it eventually replaced pool for us.
    </p>

    <h2>Favorite Food Places</h2>
    <!-- Italicized food details that are specific to me - my two go-to places to eat. -->
    <p>
        When it comes to this topic I mean to talk about food spots that I go to most frequently,
        which aren't the highest quality but are always satisfactory for me. The top two for
        me are <em>Chick-fil-A</em> and <em>Chipotle</em>. I definitely eat from either of these
        spots at least once a week. I usually get the spicy chicken sandwich from Chick-fil-A and
        customizable bowls from Chipotle. One thing I want to do is explore the menus of the two
        establishments more. The thing is once I find something I really like, it's natural for me
        to not want to switch just keep ordering it. I actually recently tried Chick-fil-A's new
        Chicken & Waffles Sandwich which was nice.
    </p>

    <h2>My Favorite Vacation Spots</h2>
    <!-- Italicized vacation details that are specific to me - my two favorite places to visit. -->
     <p id="most-recent">
        These locations are my favorite to visit within the United States. Within the United
        States, my go-to spots are <em>Virginia Beach</em> and <em>Ocean City</em>.
        I've been to each of these spots at least five times and love the boardwalk, beaches offered.
        I've also had such a wide variety of foods in both locations, from sushi to fajitas to all
        kinds of nutella-infused breakfast treats! Definitely not the healthiest at times but it's
        worth it eat at these locations every once in a while. There are also all kinds of other
        activities available to visitors, such as amusement parks and arcades that are really fun.
        For amusement parks specifically, I try to go on new rides whenever I visit these locations!
    </p>

    <!-- Added another header to introduce another section and separate it from the previous section. -->
    <h2>Favorite Fruits and Vegetables</h2>

    <p>My favorite fruits:</p>

    <ul class="list-style"> <!-- "List-style" class is specified for unordered list text. -->
        <li>Mango</li>
        <li>Pineapple</li>
        <li>Kiwi</li>
        <li>Green Grapes</li>
        <li>Strawberries</li>
    </ul>

    <p>My favorite vegetables:</p>

     <ol class="list-style"> <!-- "List-style" class is specified for ordered list text. -->
        <li>Sweet Potatoes</li>
        <li>Carrots</li>
        <li>Cauliflower</li>
        <li>Brocolli</li>
        <li>Asparagus</li>
    </ol>

    <h2>A Few Courses I've Taken & Their Semesters</h2>

    <table>
        <tr>
            <th>Course</th>
            <th>Semester</th>
        </tr>
        <tr>
            <td>BMGT302</td>
            <td>Spring 2025</td>
        </tr>
        <tr>
            <td>BMGT402</td>
            <td>Fall 2025</td>
        </tr>
        <tr>
            <td>BMGT403</td>
            <td>Fall 2025</td>
        </tr>
    </table>

    <h2>Link to My Hello Page</h2>

    <p>A link to my <a href="/hello">Hello Page</a></p>

    <h2>Links to My Favorite Websites</h2>
    <!-- Absolute URLs to favorite sites. -->
    <p>I really like <a href="https://www.youtube.com/" target="_blank">YouTube</a> for watching videos that
        interest me.</p>
    <p>I also like <a href="https://www.nytimes.com/games/wordle/index.html"> Wordle</a> and play the word game
        frequently.</p>

    <h2>Smith Logo</h2>

    <p>Here is a picture of the Smith Logo from the University of Maryland's business school.</p>

    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
         class="logo" alt="Smith Logo">

</body>
</html>